/* Roboto Sans-Serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Raleway Sans-Serif */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/* Global Styles */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Roboto', 'sans-serif';
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* Navbar Styles */
.navbar {
    align-self: flex-end;
    margin-top: 20px;
    width: 100%;
}
.navbar li {
    float: right;
    padding: 20px;
    font-size: 24px;
    font-weight: 300;
}
.navbar button {
    color: black;
}
.navbar button:hover {
    color: #ad67ea;
}
.navbar img {
    width: 65px;
    height: 65px;
    padding-left: 20px;
    padding-top: 5px;
    transition: all 100ms ease-in-out;
}
.navbar img:hover {
    transform: scale(1.5);
}

/* Home Styles */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    width: 100%;
}
.home h1 {
    font-family: 'Raleway', 'sans-serif';
    font-size: 2.7em;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.home p {
    font-size: 1.3em;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 80px;
}
.home #avatar {
    width: 250px;
    height: 250px;
    margin-bottom: 80px;
}
.home .scroll-action {
    display: flex;
    transition: all 200ms ease-in-out;
}
.home .scroll-action:hover {
    transform: translate(0px, 8px);
}
.home #arrow {
    width: 60px;
}
.home h2 {
    font-size: 2.7rem;
    font-style: italic;
    color: #ad67ea;
    padding-top: 8px;
    padding-left: 4px;
}

/* About Styles */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ad67ea;
    margin-top: 220px;
    min-height: 1000px;
    text-align: center;
    width: 100vw;
}
.about {
    margin-top: 100px;
    max-width: 1400px;
}
.about h2 {
    color: #ffffff;
    font-family: 'Raleway', 'sans-serif';
    font-size: 2.2em;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.about p {
    color: #ffffff;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.3em;
    font-weight: 100;
    letter-spacing: 2px;
}

/* Mobile Styles */
@media (max-width: 600px) {
    .navbar {
        display: none;
    }
}